@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #fff;
  background: #fff; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  width: 1100px;
  padding-left: 80px;
  padding-right: 80px; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

ul, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.intro {
  background-color: #61c4d9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .intro__container {
    margin: auto auto;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 36px; }
  .intro:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 512px;
    height: 648px;
    background: url("/img/intro/patt.png"); }
  .intro:after {
    content: '';
    position: absolute;
    bottom: -47px;
    right: 17px;
    width: 460px;
    height: 341px;
    z-index: 1;
    background: url("/img/intro/background.png"); }
  .intro__content {
    width: 404px; }
  .intro__footer {
    margin-top: 62px;
    justify-self: flex-end;
    max-width: 500px; }
  .intro__img {
    position: absolute;
    display: block; }
    .intro__img--main {
      top: 43%;
      right: 33px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.best {
  background-color: #fff;
  color: #0d0d0d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .best:after {
    content: '';
    position: absolute;
    bottom: -109px;
    left: 0;
    width: 191px;
    height: 571px;
    background: url("/img/best/background.png") no-repeat;
    z-index: 1; }
  .best:before {
    content: '';
    position: absolute;
    top: -61px;
    left: 30px;
    width: 59px;
    height: 112px;
    z-index: 1;
    background: url("/img/intro/leaf-3.png"); }
  .best__container {
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .best__header {
    margin-top: 102px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .best__header-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 450px; }
  .best__header-label {
    margin: auto;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase; }
  .best__header-caption {
    color: #666;
    font-size: 18px;
    margin-top: 7px;
    text-align: center; }
  .best__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .best__content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .best__content ul li {
        max-width: 278px;
        margin-right: 73px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative; }
        .best__content ul li:last-child {
          margin-right: 0px; }
          .best__content ul li:last-child:after {
            content: '';
            background: none; }
        .best__content ul li:after {
          content: '';
          background: url("/img/best/1.png");
          position: absolute;
          right: -75px;
          top: 52px;
          width: 67px;
          height: 21px; }

.order {
  background-color: #f8faf9;
  color: #0d0d0d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .order__container {
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .order:after {
    content: '';
    position: absolute;
    bottom: -73px;
    right: 15px;
    width: 135px;
    height: 112px;
    z-index: 1;
    background: url("/img/order/background.png") no-repeat; }

.team {
  background-color: #fff;
  color: #0d0d0d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .team:after {
    content: '';
    position: absolute;
    top: -237px;
    right: 0px;
    width: 196px;
    height: 578px;
    background: url("/img/team/background.png") no-repeat; }
  .team:before {
    content: '';
    position: absolute;
    bottom: -44px;
    left: 33px;
    width: 104px;
    height: 114px;
    z-index: 1;
    background: url("/img/team/rasb.png"); }
  .team__container {
    margin: 0 auto;
    padding-top: 64px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
  .team__header {
    margin: 0 auto; }
    .team__header h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
  .team__content {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .team__content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      margin-right: auto; }
      .team__content ul li {
        margin-right: 20px; }
        .team__content ul li:last-child {
          margin-right: 0px; }

.review {
  background-color: #fff;
  color: #0d0d0d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .review:after {
    content: '';
    position: absolute;
    bottom: -159px;
    left: 0px;
    width: 139px;
    height: 321px;
    z-index: 1;
    background: url("/img/review/background.png") no-repeat; }
  .review:before {
    content: '';
    position: absolute;
    top: 36px;
    right: 14px;
    width: 150px;
    height: 86px;
    background: url("/img/review/berry.png"); }
  .review__container {
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
  .review__header {
    margin: 0 auto; }
    .review__header h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
  .review__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 29px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .review__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .review__nav-space {
      margin-left: 16px; }

.work {
  background-color: #f8faf9;
  color: #0d0d0d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .work:after {
    content: '';
    position: absolute;
    bottom: -104px;
    right: 0px;
    width: 200px;
    height: 264px;
    z-index: 1;
    overflow: hidden;
    background: url("/img/work/berry.png") left top no-repeat; }
  .work__container {
    margin: auto auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .work__header {
    margin: 0 auto; }
    .work__header h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
  .work__content {
    margin-top: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    max-width: 911px;
    max-height: 500px;
    position: relative; }
    .work__content:after {
      content: '';
      position: absolute;
      width: 90px;
      height: 77px;
      top: 0;
      right: 0;
      background: url("/img/work/leaf1.png") no-repeat; }
    .work__content:before {
      content: '';
      position: absolute;
      width: 72px;
      height: 135px;
      bottom: 0;
      left: 0;
      background: url("/img/work/leaf2.png") no-repeat; }
    .work__content img {
      margin: 58px 120px 38px 120px;
      display: block; }

.order-form {
  background: url("/img/form/pattern.png") center center;
  color: #0f5a47;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .order-form:after {
    content: '';
    position: absolute;
    bottom: 81px;
    right: 3px;
    width: 135px;
    height: 185px;
    background: url("/img/form/leaf.png"); }
  .order-form:before {
    content: '';
    position: absolute;
    bottom: 83px;
    left: 20px;
    width: 47px;
    height: 48px;
    background: url("/img/form/berry.png"); }
  .order-form__container {
    margin: auto auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .order-form__header {
    margin: 0 auto; }
    .order-form__header h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
  .order-form__content {
    margin-top: 55px; }

.menu {
  background: yellow; }
  .menu__container {
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.map {
  background: url("/img/map/background.png") center center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo {
  display: block;
  width: 53px;
  height: 38px;
  background: url("/img/intro/logo.png") center center/cover; }

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav ul li {
    padding-right: 26px; }
    .nav ul li :last-child {
      padding-right: none; }
    .nav ul li a {
      font-size: 18px;
      color: #fff;
      text-decoration: none; }

.intro-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .intro-main h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase; }
  .intro-main__caption {
    margin-left: 5px;
    font-size: 21px;
    width: 90%;
    margin-top: 11px; }
  .intro-main .button {
    margin-left: 5px;
    width: 40%;
    margin-top: 26px; }

.button {
  background-color: #fff;
  border-radius: 40px;
  border: 2px solid transparent;
  padding: 18px 15px; }
  .button__label {
    padding: 0px;
    margin: 0px;
    color: #0f5a47;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700; }

.contact-phone {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Alegreya Sans";
  font-size: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  color: #fff; }
  .contact-phone:before {
    content: '';
    width: 11px;
    height: 11px;
    margin-right: 5px;
    background: url("/img/intro/phone.png") center center/contain no-repeat; }
  .contact-phone--small {
    font-size: 21px;
    color: #0f5a47; }
    .contact-phone--small:before {
      background: url("/img/intro/phone-dark.png") center center no-repeat; }

.adv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .adv ul li {
    margin-right: 46px; }
    .adv ul li :last-child {
      margin-right: 0px; }

.adv__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .adv__item-img {
    min-width: 52px;
    min-height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 7px; }
    .adv__item-img--natural {
      background: url("/img/intro/icon_natural.png") center center no-repeat; }
    .adv__item-img--deliver {
      background: url("/img/intro/icon_delver.png") center center no-repeat; }
    .adv__item-img--fit {
      background: url("/img/intro/icon_fit.png") center center no-repeat; }

.best-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .best-item__header-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background: #f2f5f4;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .best-item__header-img--useful:after {
      content: '';
      width: 70px;
      height: 70px;
      margin: auto;
      background: url("/img/best/useful.png") no-repeat; }
    .best-item__header-img--tasty:after {
      content: '';
      width: 74px;
      height: 74px;
      margin: auto;
      background: url("/img/best/tasty.png") no-repeat; }
    .best-item__header-img--nutrient:after {
      content: '';
      width: 74px;
      height: 74px;
      margin: auto;
      background: url("/img/best/nutrient.png") no-repeat; }
  .best-item__content {
    margin-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .best-item__content-label {
      color: #000;
      font-size: 27px;
      font-weight: 700; }
    .best-item__content-caption {
      color: #666;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
      margin-top: 23px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
  z-index: 1; }
  .header__container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__logo {
    margin-right: 45px; }
  .header__menu {
    margin-right: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.order-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .order-main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 474px;
    height: 422px;
    background: url("/img/order/leafs.png") bottom left no-repeat; }
    .order-main__img img {
      margin: auto;
      display: block; }
  .order-main__button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #00accf;
    border: none; }
    .order-main__button-label {
      margin: 0 auto;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .order-main__button-label:before {
        content: '';
        width: 51px;
        height: 51px;
        margin: auto;
        background: url("/img/order/chocolate-bar.png") center center;
        margin-bottom: 7px; }
  .order-main__content {
    max-width: 360px;
    margin-left: 66px; }
    .order-main__content h3 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
      margin-top: 37px; }
    .order-main__content p {
      margin-top: 22px;
      color: #666;
      font-size: 18px; }
  .order-main__prop {
    margin-top: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .order-main__column {
    width: 50%;
    color: #333333;
    font-size: 18px; }
  .order-main__label {
    font-weight: 400; }
  .order-main__value {
    font-weight: 700;
    margin-top: 5px; }
  .order-main__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 55px; }
  .order-main__price {
    width: 50%;
    font-size: 60px;
    font-weight: 300; }
    .order-main__price:after {
      content: '₽';
      font-size: 50px;
      margin-left: 15px; }
  .order-main__button-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-main__button-order button {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 220px; }
  .team-member__img {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .team-member__img img {
      margin: auto; }
  .team-member__content {
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .team-member__content h5 {
      color: #323232;
      font-size: 21px;
      font-weight: 500; }
    .team-member__content div {
      color: #281e1e;
      font-size: 18px;
      font-weight: 400;
      margin-top: 8px; }
    .team-member__content p {
      text-align: center;
      color: #666;
      font-size: 18px;
      font-weight: 300;
      margin-top: 3px; }

.review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8faf9;
  max-width: 940px;
  max-height: 345px;
  padding: 50px 180px 34px 45px;
  margin: auto;
  position: relative; }
  .review-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 127px;
    height: 167px;
    background: url("/img/review/pattern.png"); }
  .review-item__img {
    width: 40%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .review-item__img img {
      margin: auto; }
  .review-item__content {
    margin-left: 18px;
    padding-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .review-item__content h4 {
      color: #323232;
      font-size: 30px;
      font-weight: 700; }
    .review-item__content p {
      margin-top: 23px;
      font-size: 18px;
      color: #666666;
      line-height: 22px; }
    .review-item__content div {
      margin-top: 26px;
      color: #666666;
      font-weight: 700; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px; }
  .form__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
  .form__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-left: 20px; }
    .form__col:first-child {
      margin-left: 0px; }
  .form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px; }
    .form__block:first-child {
      margin-left: 0; }
    .form__block-title {
      font-size: 18px;
      color: #0f5a47;
      margin-bottom: 6px; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 20px; }
    .form__row:first-child {
      margin-top: 0; }
  .form__input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 22px 11px;
    outline: none;
    border: 1px solid transparent; }
    .form__input:focus {
      border-color: #b24930; }
    .form__input::-webkit-input-placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input:-ms-input-placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input::-ms-input-placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input::placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input--textarea {
      height: 180px;
      resize: none;
      padding-top: 8px; }
  .form__question-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px; }
  .option:first-child {
    margin-left: 0px; }

.footer {
  width: 100%;
  background: #fff;
  min-height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1; }
  .footer__container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__contacts {
    color: #010101;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 52px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.address {
  display: block;
  font-size: 21px; }

.fixed-menu {
  position: fixed;
  top: 216px;
  right: 51px;
  z-index: 2; }

.fixed-menu__dot {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative; }
  .fixed-menu__dot--active {
    border-color: #fff; }
  .fixed-menu__dot:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.user-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .user-nav ul li {
    cursor: pointer;
    margin-right: -4px; }
    .user-nav ul li:last-child {
      margin-right: 0; }

.user-nav__item--active .avatar {
  border: 6px solid #0f5a47; }

.avatar {
  max-width: 82px;
  max-height: 82px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .avatar img {
    display: block;
    margin: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
