@charset "UTF-8";
.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

html {
  font-size: 16px; }
  @media screen and (max-width: 992px) {
    html {
      font-size: 15px; } }

html, body {
  height: 100%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff; }

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column; }

.container {
  max-width: 1100px;
  width: 100%;
  padding-left: 4.8125rem;
  padding-right: 4.8125rem; }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media screen and (max-width: 544px) {
    .container {
      max-width: 480px;
      padding-left: 2%;
      padding-right: 2%; } }

.section {
  height: 100vh;
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: max-content;
      height: 100%;
      padding: 8% 9%; } }
  @media screen and (max-width: 768px) {
    .section {
      height: 100%;
      padding: 8% 7%; } }

ul, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.intro {
  background-color: #61c4d9;
  position: relative;
  display: flex; }
  @media screen and (max-width: 544px) {
    .intro {
      padding-left: 0;
      padding-right: 0; } }
  .intro__container {
    margin: auto auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14%; }
    @media screen and (max-width: 768px) {
      .intro__container {
        margin-top: 0;
        align-items: center; } }
    @media screen and (max-width: 544px) {
      .intro__container {
        padding-left: 0;
        padding-right: 0; } }
  .intro:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32rem;
    height: 40.5rem;
    background: url("/img/intro/patt.png") no-repeat; }
    @media screen and (max-width: 768px) {
      .intro:before {
        width: 70%;
        top: 0rem;
        right: 0rem; } }
  .intro__content {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .intro__content {
        width: 80%;
        margin-top: 1.5rem; } }
    @media screen and (max-width: 768px) {
      .intro__content {
        margin-top: -4rem; } }
  .intro__footer {
    margin-top: 7%;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    max-width: 31.25rem; }
    @media screen and (max-width: 768px) {
      .intro__footer {
        max-width: 100%;
        width: 100%;
        margin-left: 2rem;
        margin-bottom: 0rem; } }
    @media screen and (max-width: 544px) {
      .intro__footer {
        margin-left: 0;
        margin-rigth: 0;
        margin-bottom: 2rem; } }
  .intro__img {
    position: absolute;
    display: block;
    width: 46%;
    height: 84%;
    z-index: 20;
    background: url("/img/intro/background-new.png") center center/contain no-repeat; }
    .intro__img--main {
      top: 44%;
      right: 1.3rem;
      transform: translateY(-50%); }
    @media screen and (max-width: 768px) {
      .intro__img {
        position: static;
        margin-top: -2rem;
        width: 80%;
        height: 31rem;
        transform: none;
        background: url("/img/intro/background-768.png") top center/contain no-repeat; } }
    @media screen and (max-width: 544px) {
      .intro__img {
        margin-top: 0rem;
        width: 70%; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.best {
  background-color: #fff;
  color: #0d0d0d;
  position: relative;
  display: flex; }
  @media screen and (max-width: 544px) {
    .best {
      padding-left: 0;
      padding-right: 0; } }
  .best:after {
    content: '';
    position: absolute;
    bottom: -6.8125rem;
    left: 0;
    width: 11.9375rem;
    height: 35.6875rem;
    background: url("/img/best/background.png") no-repeat;
    z-index: 10; }
    @media screen and (max-width: 768px) {
      .best:after {
        background: url("/img/best/rasb.png") no-repeat;
        width: 100%;
        height: 21rem;
        left: 0;
        bottom: -5.5rem; } }
    @media screen and (max-width: 544px) {
      .best:after {
        display: none; } }
  .best:before {
    content: '';
    position: absolute;
    top: -3.8125rem;
    left: 1.875rem;
    width: 3.6875rem;
    height: 7rem;
    z-index: 10;
    background: url("/img/intro/leaf-3.png"); }
    @media screen and (max-width: 768px) {
      .best:before {
        background: url("/img/best/leaf.png") no-repeat;
        width: 100%;
        height: 100%;
        top: 12rem;
        left: 0; } }
    @media screen and (max-width: 544px) {
      .best:before {
        display: none; } }
  .best__container {
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .best__header {
    margin-top: 6.375rem;
    display: flex;
    justify-content: center;
    text-align: center; }
    .best__header-content {
      display: flex;
      flex-direction: column;
      max-width: 28.125rem; }
    @media screen and (max-width: 768px) {
      .best__header {
        margin-top: 1rem; } }
  .best__header-label {
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase; }
  .best__header-caption {
    color: #666;
    font-size: 1.125rem;
    margin-top: 0.4375rem;
    text-align: center; }
  .best__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
    @media screen and (max-width: 768px) {
      .best__content {
        margin-top: 2.6rem; } }
    @media screen and (max-width: 544px) {
      .best__content {
        margin-top: 4.3rem; } }
    .best__content ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      .best__content ul li {
        max-width: 30%;
        margin-right: 2.5%;
        display: flex;
        align-items: center;
        position: relative; }
        .best__content ul li:last-child {
          margin-right: 0; }
          .best__content ul li:last-child:after {
            content: '';
            background: none; }
        .best__content ul li:after {
          content: '';
          background: url("/img/best/1.png");
          position: absolute;
          right: -4.6875rem;
          top: 3.25rem;
          width: 4.1875rem;
          height: 1.3125rem; }
        @media screen and (max-width: 768px) {
          .best__content ul li {
            max-width: 25rem;
            margin-right: 0;
            margin-top: 1rem; }
            .best__content ul li:first-child {
              margin-top: 0; } }
    @media screen and (max-width: 768px) {
      .best__content ul {
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .best__content ul li {
          margin-right: 0;
          height: 30%; }
          .best__content ul li:after {
            content: '';
            background: none; } }
    @media screen and (max-width: 544px) {
      .best__content ul {
        flex-direction: column;
        width: 100%; }
        .best__content ul li {
          margin-right: 0;
          margin-top: 3.3rem;
          max-width: 100%;
          height: 30%; }
          .best__content ul li:after {
            content: '';
            background: none; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.order {
  background-color: #f8faf9;
  color: #0d0d0d;
  position: relative;
  display: flex; }
  @media screen and (max-width: 544px) {
    .order {
      padding-left: 0;
      padding-right: 0; } }
  .order__container {
    margin: auto;
    position: relative;
    display: flex; }
  .order__content {
    width: 100%; }
  .order:after {
    content: '';
    position: absolute;
    bottom: -4.5625rem;
    right: 0.9375rem;
    width: 8.4375rem;
    height: 7rem;
    z-index: 10;
    background: url("/img/order/background.png") no-repeat;
    background-size: contain; }
    @media screen and (max-width: 768px) {
      .order:after {
        width: 12%;
        right: 0; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.team {
  background-color: #fff;
  color: #0d0d0d;
  position: relative;
  display: flex; }
  .team:after {
    content: '';
    position: absolute;
    top: -14.8125rem;
    right: 0;
    width: 12.25rem;
    height: 36.125rem;
    z-index: 1;
    background: url("/img/team/background.png") no-repeat;
    background-size: contain; }
    @media screen and (max-width: 768px) {
      .team:after {
        right: -1rem;
        top: -14rem; } }
  .team:before {
    content: '';
    position: absolute;
    bottom: -2.75rem;
    left: 2.0625rem;
    width: 15%;
    height: 7.125rem;
    z-index: 30;
    background: url("/img/team/rasb.png") center center/contain no-repeat; }
  .team__container {
    margin: 0 auto;
    padding-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .team__container {
        padding-top: 0; } }
  .team__header {
    margin: 0 auto; }
    @media screen and (max-width: 544px) {
      .team__header {
        margin-top: 30px; } }
    .team__header h3 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase; }
  .team__content {
    display: flex;
    align-items: center;
    flex: 1; }
    @media screen and (max-width: 768px) {
      .team__content {
        margin-top: 2.4rem; } }
    @media screen and (max-width: 544px) {
      .team__content {
        margin-top: 3.5rem; } }
    .team__content ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -1rem; }
      .team__content ul li {
        margin-left: 1rem;
        width: 22%; }
        @media screen and (max-width: 768px) {
          .team__content ul li {
            width: 44%;
            margin-bottom: 1.4rem; } }
        @media screen and (max-width: 544px) {
          .team__content ul li {
            width: 44%;
            display: flex; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.review {
  background-color: #f8faf9;
  color: #0d0d0d;
  position: relative;
  display: flex; }
  @media screen and (max-width: 544px) {
    .review {
      padding-left: 0;
      padding-right: 0; } }
  .review:after {
    content: '';
    position: absolute;
    bottom: -9.9375rem;
    left: 0;
    width: 8.6875rem;
    height: 20.0625rem;
    z-index: 1;
    background: url("/img/review/background-new.png") center center/contain no-repeat; }
    @media screen and (max-width: 544px) {
      .review:after {
        width: 15%; } }
  .review:before {
    content: '';
    position: absolute;
    top: 2.25rem;
    right: 0.875rem;
    width: 9.375rem;
    height: 5.375rem;
    background: url("/img/review/berry.png") center center/contain no-repeat; }
    @media screen and (max-width: 544px) {
      .review:before {
        width: 30%;
        right: 0;
        top: 0; } }
  .review__container {
    padding-top: 3.75rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .review__container {
        padding-top: 0; } }
  .review__header {
    margin: 0 auto; }
    .review__header h3 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase; }
    @media screen and (max-width: 544px) {
      .review__header {
        margin-top: 70px; } }
  .review__content {
    display: flex;
    flex-direction: column;
    margin-top: 1.8125rem;
    justify-content: center;
    flex: 1; }
    @media screen and (max-width: 768px) {
      .review__content {
        margin-top: 4.2rem; } }
    @media screen and (max-width: 544px) {
      .review__content {
        margin-top: 34px; } }
  .review__nav {
    display: flex;
    margin-top: 1.3125rem;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .review__nav {
        margin-top: 6.5rem; } }
    @media screen and (max-width: 544px) {
      .review__nav {
        margin-top: 14px;
        margin-bottom: 1rem; } }
    .review__nav-space {
      margin-left: 1rem; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.work {
  background-color: #f8faf9;
  color: #0d0d0d;
  position: relative;
  display: flex; }
  .work:after {
    content: '';
    position: absolute;
    bottom: -6.5rem;
    right: 0px;
    width: 12.5rem;
    height: 16.5rem;
    z-index: 10;
    overflow: hidden;
    background: url("/img/work/berry.png") left top/contain no-repeat; }
  .work__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .work__header {
    margin: 4.8125rem auto 0;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .work__header {
        margin-top: 1rem; } }
    .work__header h3 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase; }
  .work__content {
    display: flex;
    margin: auto;
    max-width: 56.9375rem;
    max-height: 31.25rem;
    position: relative; }
    @media screen and (max-width: 768px) {
      .work__content {
        margin-top: 8rem;
        margin-bottom: 2rem; } }
    .work__content:after {
      content: '';
      position: absolute;
      width: 5.625rem;
      height: 4.8125rem;
      top: 0;
      right: 0;
      background: url("/img/work/leaf1.png") left top/contain no-repeat; }
      @media screen and (max-width: 768px) {
        .work__content:after {
          width: 10%;
          right: -40px; } }
    .work__content:before {
      content: '';
      position: absolute;
      width: 4.5rem;
      height: 8.4375rem;
      bottom: 0;
      left: 0;
      background: url("/img/work/leaf2.png") right top/contain no-repeat; }
      @media screen and (max-width: 768px) {
        .work__content:before {
          width: 10%;
          left: -60px; } }
    .work__content img {
      margin-top: -4.8125rem;
      width: 100%;
      height: 100%;
      padding: 3.625rem 7.5rem 2.375rem 7.5rem;
      display: block; }
      @media screen and (max-width: 768px) {
        .work__content img {
          padding: 0rem 0rem; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.order-form {
  background: url("/img/form/pattern.png") center center;
  color: #0f5a47;
  position: relative;
  display: flex; }
  @media screen and (max-width: 544px) {
    .order-form {
      padding-left: 0;
      padding-right: 0; } }
  .order-form:after {
    content: '';
    position: absolute;
    bottom: 81px;
    right: 3px;
    width: 135px;
    height: 185px;
    background: url("/img/form/leaf.png") center center/contain no-repeat; }
    @media screen and (max-width: 544px) {
      .order-form:after {
        display: none; } }
  .order-form:before {
    content: '';
    position: absolute;
    bottom: 83px;
    left: 20px;
    width: 47px;
    height: 48px;
    background: url("/img/form/berry.png") center center/contain no-repeat; }
    @media screen and (max-width: 544px) {
      .order-form:before {
        display: none; } }
  .order-form__container {
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 544px) {
      .order-form__container {
        padding-left: 5px;
        padding-right: 5px; } }
  .order-form__header {
    margin: 0 auto;
    text-align: center; }
    .order-form__header h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }
  .order-form__content {
    margin-top: 55px; }
    @media screen and (max-width: 768px) {
      .order-form__content {
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem; } }
    @media screen and (max-width: 544px) {
      .order-form__content {
        padding-left: 1rem;
        padding-right: 1rem; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.menu {
  background: url("../../img/menu/background.png") center center no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .menu {
      height: 61rem;
      padding: 0; } }
  .menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3; }
  .menu__header {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10; }
    @media screen and (max-width: 768px) {
      .menu__header {
        top: 6.5rem;
        left: 6%; } }
    .menu__header h3 {
      font-size: 3rem;
      font-weight: 700;
      color: white;
      text-transform: uppercase; }
  .menu__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.map {
  background: url("/img/map/background.png") center center/cover no-repeat;
  position: relative;
  display: flex; }
  @media screen and (max-width: 768px) {
    .map {
      min-height: 45.875rem; } }

.logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url("/img/intro/logo.png") center center/cover; }

.nav ul {
  display: flex;
  flex-wrap: wrap; }
  .nav ul li {
    padding-right: 1.7rem; }
    .nav ul li :last-child {
      padding-right: none; }
    .nav ul li a {
      font-size: 1.125rem;
      color: #fff;
      text-decoration: none; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.intro-main {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .intro-main {
      align-items: center; } }
  .intro-main h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.75rem;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .intro-main h1 {
        text-align: center;
        line-height: 4.1rem; } }
    @media screen and (max-width: 544px) {
      .intro-main h1 {
        font-size: 46px;
        line-height: 40px; } }
  .intro-main__caption {
    font-size: 1.3125rem;
    width: 75%;
    margin-top: 0.5rem; }
    @media screen and (max-width: 768px) {
      .intro-main__caption {
        text-align: center; } }
    @media screen and (max-width: 544px) {
      .intro-main__caption {
        width: 90%;
        margin-top: 1rem; } }
  .intro-main .button {
    width: 34%;
    margin-top: 1.875rem; }
    @media screen and (max-width: 768px) {
      .intro-main .button {
        margin-top: 1.9rem; } }
    @media screen and (max-width: 544px) {
      .intro-main .button {
        margin-top: 3rem;
        width: 41%; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.button {
  background-color: #fff;
  border-radius: 2.3rem;
  border: 2px solid transparent;
  padding: 1rem 0.8rem; }
  @media screen and (max-width: 544px) {
    .button {
      padding: 1.3rem 1.8rem; } }
  .button__label {
    display: block;
    padding: 0px;
    margin: 0px;
    color: #0f5a47;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700; }
  .button--dark {
    background-color: #0f5a47; }
    .button--dark .button__label {
      color: #fff; }

.contact-phone {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff; }
  .contact-phone:before {
    content: '';
    width: 0.6875rem;
    height: 0.6875rem;
    margin-right: 5px;
    background: url("/img/intro/phone.png") center center/contain no-repeat; }
  .contact-phone--small {
    font-size: 1.3125rem;
    color: #0f5a47; }
    .contact-phone--small:before {
      background: url("/img/intro/phone-dark.png") center center no-repeat; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.adv {
  width: 100%; }
  .adv ul {
    width: 100%;
    display: flex; }
    .adv ul li {
      margin-right: 46px; }
      @media screen and (max-width: 768px) {
        .adv ul li {
          margin-right: 0; } }
      .adv ul li :last-child {
        margin-right: 0px; }
  .adv__item-label {
    display: block;
    flex: .8; }
  .adv__item {
    display: flex;
    align-items: center; }
    .adv__item-img {
      min-width: 52px;
      min-height: 52px;
      display: flex;
      margin-right: 7px; }
      .adv__item-img--natural {
        background: url("/img/intro/icon_natural.png") center center no-repeat; }
      .adv__item-img--deliver {
        background: url("/img/intro/icon_delver.png") center center no-repeat; }
      .adv__item-img--fit {
        background: url("/img/intro/icon_fit.png") center center no-repeat; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.best-item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 544px) {
    .best-item {
      flex-direction: row;
      align-items: flex-start; } }
  .best-item__header-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background: #f2f5f4;
    position: relative;
    display: flex; }
    .best-item__header-img--useful:after {
      content: '';
      width: 74px;
      height: 74px;
      margin: auto;
      background: url("/img/best/useful.png") no-repeat; }
    .best-item__header-img--tasty:after {
      content: '';
      width: 74px;
      height: 74px;
      margin: auto;
      background: url("/img/best/tasty.png") no-repeat; }
    .best-item__header-img--nutrient:after {
      content: '';
      width: 74px;
      height: 74px;
      margin: auto;
      background: url("/img/best/nutrient.png") no-repeat; }
  .best-item__content {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 544px) {
      .best-item__content {
        align-items: flex-start;
        margin-left: 1rem;
        margin-top: 0; } }
    .best-item__content-label {
      color: #000;
      font-size: 28px;
      font-weight: 700; }
      @media screen and (max-width: 544px) {
        .best-item__content-label {
          text-align: left;
          margin-top: 0.5rem; } }
    .best-item__content-caption {
      color: #666;
      text-align: center;
      font-weight: 300;
      font-size: 1.125rem;
      margin-top: 1.4375rem; }
      @media screen and (max-width: 544px) {
        .best-item__content-caption {
          text-align: left; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-top: 1.5625rem;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .header {
      margin-top: 1.7rem; } }
  .header__container {
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 768px) {
      .header__container {
        justify-content: space-between; } }
  .header__logo {
    margin-right: 2.8rem;
    width: 53px;
    height: 38px; }
    @media screen and (max-width: 544px) {
      .header__logo {
        margin-left: 1.5625rem;
        margin-top: 0.625rem; } }
  .header__menu {
    margin-right: 1.25rem;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header__menu {
        display: none; } }
  .header__contacts {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header__contacts {
        display: none; } }
  .header__burger {
    display: none;
    width: 24px;
    height: 24px;
    align-self: center;
    background: url("../../img/intro/burger.svg") center center/cover no-repeat; }
    @media screen and (max-width: 768px) {
      .header__burger {
        display: block; } }
    @media screen and (max-width: 544px) {
      .header__burger {
        margin-right: 1.25rem; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.order-main {
  display: flex;
  position: relative;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .order-main {
      flex-direction: column;
      align-items: center; } }
  .order-main__img {
    display: flex;
    width: 83%;
    background: url("/img/order/leafs.png") center center no-repeat; }
    .order-main__img img {
      width: 68%;
      margin: auto;
      display: block; }
      @media screen and (max-width: 544px) {
        .order-main__img img {
          width: 100%; } }
    @media screen and (max-width: 768px) {
      .order-main__img {
        width: 83%; } }
    @media screen and (max-width: 544px) {
      .order-main__img {
        width: 83%; } }
  .order-main__button {
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    background: #00accf;
    border: none; }
    @media screen and (max-width: 768px) {
      .order-main__button {
        position: absolute;
        top: -2rem;
        right: -5rem; } }
    @media screen and (max-width: 544px) {
      .order-main__button {
        position: absolute;
        top: 0;
        right: 0; } }
    .order-main__button-label {
      margin: 0 auto;
      display: block;
      color: #fff;
      font-size: 0.875rem;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      flex-direction: column; }
      .order-main__button-label:before {
        content: '';
        width: 51px;
        height: 51px;
        margin: auto;
        background: url("/img/order/chocolate-bar.png") center center;
        margin-bottom: 0.4375rem; }
  .order-main__content {
    max-width: 22.5rem;
    margin-left: 4.125rem; }
    .order-main__content h3 {
      text-transform: uppercase;
      font-size: 2.375rem;
      font-weight: 700;
      margin-top: 2.25rem; }
    .order-main__content p {
      margin-top: 1.375rem;
      color: #666;
      font-size: 1.125rem; }
    @media screen and (max-width: 768px) {
      .order-main__content {
        margin-left: 0;
        max-width: 94%;
        dispaly: flex;
        flex-direction: column;
        align-items: center; }
        .order-main__content h3 {
          text-align: center;
          font-size: 2rem;
          padding: 0 10%;
          margin-top: 3.6rem; }
        .order-main__content p {
          text-align: center; } }
    @media screen and (max-width: 544px) {
      .order-main__content h3 {
        font-size: 30px;
        margin-top: 25px; } }
  .order-main__prop {
    margin-top: 2.3125rem;
    display: flex; }
    @media screen and (max-width: 768px) {
      .order-main__prop {
        width: 70%;
        margin-left: 25%;
        margin-top: 2.625rem; } }
  .order-main__column {
    width: 50%;
    color: #333333;
    font-size: 1.125rem; }
  .order-main__label {
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .order-main__label {
        text-align: left; } }
  .order-main__value {
    font-weight: 700;
    margin-top: 0.3125rem; }
    @media screen and (max-width: 768px) {
      .order-main__value {
        text-align: left; } }
  .order-main__footer {
    display: flex;
    align-items: center;
    margin-top: 3.4375rem; }
    @media screen and (max-width: 768px) {
      .order-main__footer {
        width: 70%;
        margin-left: 15%;
        margin-top: 2.6875rem; } }
    @media screen and (max-width: 544px) {
      .order-main__footer {
        margin-top: 50px; } }
  .order-main__price {
    width: 50%;
    font-size: 3.75rem;
    font-weight: 300; }
    .order-main__price:after {
      content: '₽';
      font-size: 3.125rem;
      margin-left: 0.9375rem; }
    @media screen and (max-width: 768px) {
      .order-main__price {
        text-align: center;
        font-size: 4rem; } }
    @media screen and (max-width: 544px) {
      .order-main__price {
        font-size: 60px; } }
  .order-main__button-order {
    display: flex;
    width: 40%; }
    .order-main__button-order button {
      flex: 1; }
    @media screen and (max-width: 768px) {
      .order-main__button-order {
        margin-left: 0; } }
    @media screen and (max-width: 544px) {
      .order-main__button-order {
        width: 50%; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.team-member {
  display: flex;
  flex-direction: column; }
  .team-member__img {
    margin: auto;
    display: flex; }
    .team-member__img img {
      margin: auto;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 544px) {
        .team-member__img img {
          width: 75%; } }
  .team-member__content {
    margin-top: 1.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 544px) {
      .team-member__content {
        margin-top: 8px; } }
    .team-member__content h5 {
      color: #323232;
      font-size: 21px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .team-member__content h5:after {
        margin-left: 0.7rem;
        content: '';
        width: 9px;
        height: 9px;
        background: url("../../img/team/arrow_donw.svg") center center/contain no-repeat; }
    .team-member__content__position {
      color: #281e1e;
      display: block;
      font-size: 1.125rem;
      font-weight: 400;
      margin-top: 0.5rem; }
    .team-member__content p {
      position: absolute;
      bottom: -3rem;
      display: none;
      left: 0;
      right: 0;
      text-align: center;
      color: #666;
      font-size: 1rem;
      font-weight: 300;
      margin-top: 0.1875rem;
      padding: 0; }
      @media screen and (max-width: 768px) {
        .team-member__content p {
          position: static;
          width: 60%; } }

.team-member--active .team-member__content h5:after {
  background: url("../../img/team/arrow_up.svg") center center/contain no-repeat; }
.team-member--active .team-member__content p {
  display: block; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.review-item {
  display: flex;
  background: #f8faf9;
  max-width: 58.75rem;
  max-height: 21.5625rem;
  padding: 50px 20% 34px 5%;
  margin: auto;
  position: relative; }
  @media screen and (max-width: 768px) {
    .review-item {
      flex-direction: column;
      max-height: 100%;
      padding: 50px 70px 34px 80px; } }
  @media screen and (max-width: 544px) {
    .review-item {
      padding: 50px 29px 34px 29px; } }
  .review-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 127px;
    height: 167px;
    background: url("/img/review/pattern.png"); }
    @media screen and (max-width: 544px) {
      .review-item:before {
        width: 25%; } }
  .review-item__img {
    width: 46%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .review-item__img {
        width: 60%; } }
    .review-item__img img {
      margin: auto; }
      @media screen and (max-width: 768px) {
        .review-item__img img {
          width: 86%; } }
  .review-item__content {
    margin-left: 18px;
    padding-top: 14px;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .review-item__content {
        margin-left: 0px; } }
    .review-item__content h4 {
      color: #323232;
      font-size: 30px;
      font-weight: 700; }
      @media screen and (max-width: 768px) {
        .review-item__content h4 {
          text-align: center; } }
    .review-item__content p {
      margin-top: 23px;
      font-size: 18px;
      color: #666666;
      line-height: 22px; }
      @media screen and (max-width: 768px) {
        .review-item__content p {
          text-align: center; } }
    .review-item__content span {
      margin-top: 26px;
      display: block;
      color: #666666;
      font-weight: 700; }
      @media screen and (max-width: 768px) {
        .review-item__content span {
          text-align: center; } }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.form {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.125rem; }
  .form__elem {
    display: flex;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .form__elem {
        flex-direction: column; } }
  .form__col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1.25rem; }
    .form__col:first-child {
      margin-left: 0px; }
    @media screen and (max-width: 768px) {
      .form__col {
        width: 100%;
        margin-left: 0;
        margin-top: 1.25rem; }
        .form__col:first-child {
          margin-top: 0; } }
  .form__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px; }
    .form__block:first-child {
      margin-left: 0; }
    .form__block-title {
      font-size: 18px;
      color: #0f5a47;
      margin-bottom: 6px; }
  .form__row {
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
    .form__row:first-child {
      margin-top: 0; }
  .form__input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 22px 11px;
    outline: none;
    border: 1px solid transparent; }
    .form__input:focus {
      border-color: #b24930; }
    .form__input::placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input--textarea {
      height: 208px;
      resize: none;
      padding-top: 8px; }
  @media screen and (max-width: 768px) {
    .form__question {
      margin: 0 auto; } }
  .form__question-options {
    display: flex; }
  @media screen and (max-width: 768px) {
    .form__buttons {
      margin: 0 auto; } }

.checkbox {
  display: flex;
  position: relative;
  white-space: nowrap;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .checkbox {
      margin: 0 auto; } }
  .checkbox__check {
    position: absolute;
    top: 0;
    left: -624.9375rem; }
  .checkbox__check-title {
    display: inline-block;
    font-size: 1.125rem;
    margin-left: 0.625rem; }
  .checkbox__check-fake {
    width: 1rem;
    height: 1rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

.checkbox__check:checked + .checkbox__check-fake:after {
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/form/check.png") 50% no-repeat;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.option {
  display: flex;
  margin-left: 1.25rem;
  position: relative;
  white-space: nowrap;
  cursor: pointer; }
  .option__radio {
    position: absolute;
    top: 0;
    left: -624.9375rem; }
  .option__radio-title {
    display: inline-block;
    font-size: 1.125rem;
    margin-left: 0.625rem; }
  .option__radio-fake {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .option__radio-fake:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: #0f5a47;
      transition: width .3s, height .3s; }
  .option:first-child {
    margin-left: 0; }

.option__radio:checked + .option__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem;
  z-index: 10;
  content: ''; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  min-height: 5.8125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; }
  @media screen and (max-width: 544px) {
    .footer {
      min-height: 10.5rem;
      flext-direction: column;
      justify-content: center; } }
  .footer__container {
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 544px) {
      .footer__container {
        justify-content: center; } }
  .footer__contacts {
    color: #010101;
    display: flex;
    flex-direction: column;
    min-height: 3.25rem;
    justify-content: space-between; }
    @media screen and (max-width: 544px) {
      .footer__contacts {
        align-items: center; } }
  .footer__socials {
    display: flex;
    justify-content: flex-end; }

.address {
  display: block;
  font-size: 21px; }

.fixed-menu {
  position: fixed;
  top: 216px;
  right: 51px;
  z-index: 2; }

.fixed-menu__dot {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative; }
  .fixed-menu__dot--active {
    border-color: #fff; }
  .fixed-menu__dot:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.user-nav ul {
  display: flex; }
  .user-nav ul li {
    cursor: pointer;
    margin-right: -4px; }
    @media screen and (max-width: 768px) {
      .user-nav ul li {
        margin-right: 26px; } }
    .user-nav ul li:last-child {
      margin-right: 0; }
.user-nav__item--active .avatar {
  border: 6px solid #0f5a47; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.avatar {
  max-width: 5.125rem;
  max-height: 5.125rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  display: flex; }
  @media screen and (max-width: 768px) {
    .avatar {
      min-width: 6.5625rem;
      min-height: 6.5625rem; } }
  .avatar img {
    display: block;
    margin: auto;
    flex: 1;
    width: 100%;
    height: 100%; }

.menu-acco:before, .menu-acco:after {
  content: "";
  display: table; }
.menu-acco:after {
  clear: both; }

.menu-acco {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex; }
  .menu-acco__list-menu {
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    display: flex; }
  .menu-acco__list-content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .menu-acco__content-item {
    position: absolute;
    top: 0;
    bottom: 0; }
    .menu-acco__content-item .menu-acco__content {
      position: absolute;
      width: 0;
      transition: width 1s; }
      .menu-acco__content-item .menu-acco__content--milk {
        right: 200px; }
        @media screen and (max-width: 768px) {
          .menu-acco__content-item .menu-acco__content--milk {
            right: 0; } }
      .menu-acco__content-item .menu-acco__content--fruit {
        right: 100px; }
        @media screen and (max-width: 768px) {
          .menu-acco__content-item .menu-acco__content--fruit {
            right: 0; } }
      .menu-acco__content-item .menu-acco__content--wildberry {
        right: 0; }
    .menu-acco__content-item.active {
      width: 100%; }
      .menu-acco__content-item.active .menu-acco__content {
        z-index: 30;
        width: 70%;
        transition: width .3s; }
        @media screen and (max-width: 768px) {
          .menu-acco__content-item.active .menu-acco__content {
            width: 100%; } }
      .menu-acco__content-item.active .menu-acco__trigger--add {
        display: block; }
      .menu-acco__content-item.active .menu-acco__text {
        display: block; }
  @media screen and (max-width: 544px) {
    .menu-acco {
      width: 100%; } }
  .menu-acco__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 26px;
    right: 32px;
    cursor: pointer;
    background: url("/img/menu/close.svg") center center no-repeat; }
  .menu-acco__item {
    width: 100px;
    height: 100%;
    display: flex;
    position: relative;
    cursor: pointer; }
    .menu-acco__item--active .menu-acco__trigger--add {
      display: block; }
    .menu-acco__item--active .menu-acco__content {
      width: 600px;
      z-index: 30; }
    .menu-acco__item--active .menu-acco__text {
      display: block;
      width: 100%; }

.menu-acco__trigger {
  min-width: 100px;
  height: 100%;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  cursor: pointer; }
  .menu-acco__trigger:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.4; }
  .menu-acco__trigger--add {
    display: none; }
  .menu-acco__trigger--milk {
    background-image: url("../../img/menu/milk.png"); }
  .menu-acco__trigger--fruit {
    background-image: url("../../img/menu/fruit.png"); }
  .menu-acco__trigger--wildberry {
    background-image: url("../../img/menu/wildberry.png"); }
  @media screen and (max-width: 544px) {
    .menu-acco__trigger {
      width: 3.125rem; } }

.menu-acco__trigger-text {
  font-size: 3.125rem;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 98%;
  z-index: 10;
  margin-top: -1.25rem; }
  @media screen and (max-width: 544px) {
    .menu-acco__trigger-text {
      font-size: 1.625rem; } }

.menu-acco__content {
  height: 100%;
  background: #2f3234;
  opacity: 0.93;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex; }

.menu-acco__text {
  font-size: 1rem;
  display: block;
  color: #fff;
  padding: 3.75rem 7.9375rem 3.75rem 1.875rem;
  width: 100%;
  line-height: 1.8;
  text-align: justify;
  display: none; }
  @media screen and (max-width: 544px) {
    .menu-acco__text {
      padding: 1.5625rem 0.9375rem; } }

/*# sourceMappingURL=main.css.map */
