@import '../assets/_mixins.scss';

.best-item {
  display: flex;
  flex-direction: column;
  @include phones {
    flex-direction: row;
    align-items: flex-start;
  }
  align-items: center;  

  &__header {
    &-img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      overflow: hidden;
      background: #f2f5f4;
      position: relative;
      display: flex;
      &--useful:after {
        content: '';
        width: 74px;
        height: 74px;
        margin: auto;
        background: url('/images/best/useful.png') no-repeat;
      }
      &--tasty:after {
        content: '';
        width: 74px;
        height: 74px;
        margin: auto;
        background: url('/images/best/tasty.png') no-repeat;
      }      
      &--nutrient:after {
        content: '';
        width: 74px;
        height: 74px;
        margin: auto;
        background: url('/images/best/nutrient.png')  no-repeat;
      }
    }
  }
  &__content {
    margin-top: remy(28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phones {
      align-items: flex-start;
      margin-left: 1rem;
      margin-top: 0;
    }
    &-label {
      color: #000;
      font-size: 28px;
      font-weight: 700;
      @include phones {
        text-align: left;
        margin-top: .5rem
      }
    }
    &-caption {
      color: #666;
      text-align: center;
      font-weight: 300;
      font-size: remy(18);
      margin-top: remy(23);
      @include phones {
        text-align: left;
      }
    }
  }  
}