.contact-phone {
  display: block;
  text-decoration : none;
  cursor: pointer;
  font-size: remy(24);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #fff;
  &:before {
    content: '';
    width: remy(11);
    height: remy(11);
    margin-right: 5px;
    background: url('/images/intro/phone.png') center center / contain no-repeat;
  }
  &--small {
    font-size: remy(21);
    color: #0f5a47;
    &:before {
      background: url('/images/intro/phone-dark.png') center center no-repeat;     
    }
  }
}