.hamburger-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2f3234, .9);
	align-items: center;
	justify-content: center;
	z-index: 100;
	display: none;
	transition: opacity .3s;
	width: 100vw;
}

.hamburger-menu__logo {
	position: absolute;
	top: 10px;
	left: 30px;
  width: 53px;
	height: 38px;	
}

.hamburger-menu__close {
	// position: absolute;
	// right: rem(15px);
	// top: rem(15px);
	// width: rem(18px);
	// height: rem(18px);
	// padding: rem(15px);
	// box-sizing: content-box;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 18px;
	right: 18px;
	cursor: pointer;
	background: url('/images/menu/close.svg') center center no-repeat;

	// &:hover {
	// 	.hamburger-menu__close-icon {
	// 		use {
	// 			fill: #fff;
	// 		}
	// 	}
	// }
}

.hamburger-menu__close-icon {
	width: 100%;
	height: 100%;

	use {
		fill: #c1c2c2;
		transition: fill .3s;
	}
}
