@import '../assets/_mixins.scss';
.intro-main {
  display: flex;
  flex-direction: column;
  @include tablets {
    align-items: center;
  }
  h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: remy(60);
    text-transform: uppercase;
    @include tablets {
      text-align: center;
      line-height: 4.1rem;
    }
    @include phones {
      font-size: 46px;
      line-height: 40px;
    }

  }
  &__caption {
    font-size: remy(21);
    width: 75%;
    margin-top: 0.5rem;
    @include tablets {
      text-align: center;
    }
    @include phones {
      width: 90%;
      margin-top: 1rem;
    }
  }
  .button {
    width: 34%;
    margin-top: 1.875rem;
    @include tablets  {
      margin-top: 1.9rem;
    }
    @include phones {
      margin-top: 3rem;
      width:41%;
    }
  }
}