@import '../assets/_mixins.scss';
@import '../assets/_variables.scss';
.menu-acco {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

  &__list-menu {
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
  
  }

  &__list-content {
    position: absolute;
    // z-index: 30;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
  &__content-item {
    position: absolute;
    top: 0;
    bottom: 0;
    .menu-acco__content {
      position: absolute;
      width: 0;
      transition: width 1s;
      &--milk {
        right: 200px;
        @include tablets {
          right: 0;
        }
      }
      &--fruit {
        right: 100px;
        @include tablets {
          right: 0;
        }
      }
      &--wildberry {
        right: 0;
      }
    }
    &.active {
      width: 100%;
      .menu-acco__content {
        z-index: 30;
        width: 70%;
        transition: width .3s;
        @include tablets {
          width: 100%;
        }
        // &--milk {
        //   width: calc(70%-200px);
        // }
        // &--fruit {
        //   width: calc(70%-100px);
        // }
        // &--wildberry {
        //   width: 70%;
        // }
      }  
      .menu-acco__trigger--add {
        display: block;
        
      }    
      .menu-acco__text {
        display: block;
      }
    }
  }
  // width: 70%;
    @extend %clearfix;
  @include phones {
    width: 100%;
  }
  &__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 26px;
    right: 32px;
    cursor: pointer;
    background: url('/images/menu/close.svg') center center no-repeat;
  }
  &__item {
    width: 100px;
    height: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    &--active {
      .menu-acco__trigger--add {
        display: block;
        // color: $yellow;
      }
      .menu-acco__content {
        // width: 100%;
        width: 600px;
        z-index: 30;
        // width: 70%;
      }
      .menu-acco__text {
        display: block;
        width: 100%;
      }
      // .menu-acco__trigger {
      //   &:last-child {
      //     display: block;
      //     position: relative;
      //     &:after {
      //       content: '';
      //       position: absolute;
      //       top: 0;
      //       left: 0;
      //       right: 0;
      //       bottom: 0;
      //       background-color: #2f3234;
      //       opacity: 0.93;
      //     }
      //   }
      // }
    }    
  }
}

.menu-acco__trigger {
	min-width: 100px;
	height: 100%;
  // float: left;
  display: flex;
	@include cover;
	text-decoration: none;
  position: relative;
  cursor: pointer;
  // z-index: 10;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
  }
  &--add {
    display: none;
  }
  &--milk {
    background-image: url('../../images/menu/milk.png')
  }
  &--fruit {
    background-image: url('../../images/menu/fruit.png')
  }
  &--wildberry {
    background-image: url('../../images/menu/wildberry.png')
  }
  &:last-child {
    // display: none;
  }
  @include phones {
    width: remy(50);
  }
}

.menu-acco__trigger-text {
	font-size: remy(50);
  color: #fff;
  display: block;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 98%;
  z-index: 10;
  margin-top: remy(-20);

  @include phones {
    font-size: remy(26);
  }
}

.menu-acco__content {
	height: 100%;
	// float: left;
  background: #2f3234;
  opacity: 0.93;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
	// overflow: hidden;
}

.menu-acco__text {
	// @include ubuntu(light);
  font-size: remy(16);
  display: block;
	color: #fff;
	padding: remy(60) remy(127) remy(60) remy(30);
	width: 100%;
  line-height: 1.8;
  text-align: justify;
  display: none;

  @include phones {
    padding: remy(25) remy(15);
  }
}