@import '../assets/_variables.scss';
@import '../assets/_mixins.scss';
.nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 1.7rem;
      :last-child {
        padding-right: none;
      }
      a {
        font-size: remy(18);
        color: $white;
        text-decoration: none;
      }
    }
  }
  &__hamburger {
    @include tablets {
      ul {
        flex-direction: column;
        li {
          padding-right: 0;
          padding-bottom: 1.5rem;
          :last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}