@import '../assets/_variables.scss';
@import '../assets/_mixins';
.order {
  background-color: $bg-order;
  color: $color;
  position: relative;
  display: flex;
  @include phones {
    padding-left: 0;
    padding-right: 0;
  }
  &__container {
    margin: auto;
    position: relative;
    display: flex;

  }
  &__content {
    width: 100%;
    position: relative;
  }
  &__nav {
    position: absolute;
    width: 15px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--prev {
      background: url('/images/order/arrow-prev.png') center center /cover no-repeat;
      left: -1.5rem;
    }
    &--next {
      background: url('/images/order/arrow-next.png') center center /cover no-repeat;
      right: -1.5rem;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom:remy(-73);
    right: remy(15);
    width: remy(135);
    height: remy(112); 
    z-index:10;
    background: url('/images/order/background.png') no-repeat;    
    background-size: contain;
    @include tablets {
      width: 12%;
      right: 0;
    }
  }
}