$bg: #fff;
$color: #0d0d0d;
.best {
  background-color: $bg;
  color: $color;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    bottom: -109px;
    left: 0;
    width: 191px;
    height: 571px;
    background: url('/img/best/background.png') no-repeat;  
    z-index: 1;  
  }
  &:before {
    content: '';
    position: absolute;
    top:-61px;
    left: 30px;
    width: 59px;
    height: 112px; 
    z-index: 1;
    background: url('/img/intro/leaf-3.png');      
  }
  &__container {
    margin: 0 auto;
    // padding-top: 102px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__header {
    margin-top: 102px;
    display: flex;
    justify-content: center;
    &-content {
      display: flex;
      flex-direction: column;
      max-width: 450px;
    }
  }
  &__header-label {
    margin: auto;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__header-caption {
    color: #666;
    font-size: 18px;
    margin-top: 7px;
    text-align: center;
  }
  &__content {
    // margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    ul {
      display: flex;
      // transform: translateY(-20px);
      li {
        max-width: 278px;
        margin-right: 73px;
        display: flex;
        align-items: center;
        position: relative;
        &:last-child {
          margin-right: 0px;
          &:after {
            content: '';
            background: none;
          }
        }
        &:after {
          content: '';
          background: url('/img/best/1.png');
          position: absolute;
          right: -75px;
          top: 52px;
          width: 67px;
          height: 21px;
        }

      }
    }
  }
}