@import '../assets/_variables.scss';
.order {
  background-color: $bg-order;
  color: $color;
  position: relative;
  display: flex;
  &__container {
    margin: auto;
    position: relative;
    display: flex;

  }
  &__content {
    width: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    bottom:remy(-73);
    right: remy(15);
    width: remy(135);
    height: remy(112); 
    z-index:10;
    background: url('/img/order/background.png') no-repeat;    
  }
}