$color-work:#0f5a47;
.order-form {
  background: url('/img/form/pattern.png') center center;
  color: $color-work;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    bottom:81px;
    right: 3px;
    width: 135px;
    height: 185px; 
    background: url('/img/form/leaf.png');    
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 83px;
    left: 20px;
    width: 47px;
    height: 48px; 
    background: url('/img/form/berry.png');
  }
  &__container {
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__header {
    margin: 0 auto;
    h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content {
    margin-top: 55px;
    @include tablets {
      padding-left: 4rem;
      padding-right: 4rem;
      margin-top: remy(32);
    }
  }
}