$bg-order:#fff;
$color-order: #0d0d0d;
.review {
  background-color: $bg-order;
  color: $color-order;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    bottom:-159px;
    left: 0px;
    width: 139px;
    height: 321px; 
    z-index: 1;
    background: url('/img/review/background.png') no-repeat;    
  }
  &:before {
    content: '';
    position: absolute;
    top:36px;
   right: 14px;
    width: 150px;
    height: 86px; 
    background: url('/img/review/berry.png');
  }
  &__container {
    padding-top: 60px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    margin: 0 auto;
    h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 29px;
    justify-content: center;
    flex: 1;
  }
  &__nav {
    display: flex;
    margin-top: 21px;
    justify-content: center;
    align-items: center;
    &-space {
      margin-left: 16px;
    }
  }
}