$bg-order:#fff;
$color-order: #0d0d0d;
.review {
  background-color: $bg-order;
  color: $color-order;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    bottom:remy(-159);
    left: 0;
    width: remy(139);
    height: remy(321); 
    z-index: 1;
    background: url('/img/review/background.png') no-repeat;    
  }
  &:before {
    content: '';
    position: absolute;
    top:remy(36);
   right: remy(14);
    width: remy(150);
    height: remy(86); 
    background: url('/img/review/berry.png');
  }
  &__container {
    padding-top: remy(60);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    margin: 0 auto;
    h3 {
      font-size: remy(48);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: remy(29);
    justify-content: center;
    flex: 1;
  }
  &__nav {
    display: flex;
    margin-top: remy(21);
    justify-content: center;
    align-items: center;
    &-space {
      margin-left: remy(16);
    }
  }
}