
$bg-order:#fff;
$color-order: #0d0d0d;
@import '../assets/_mixins';
.review {
  background-color: $bg-order;
  color: $color-order;
  position: relative;
  display: flex;
  @include phones {
    padding-left: 0;
    padding-right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom:remy(-159);
    left: 0;
    width: remy(139);
    height: remy(321); 
    z-index: 1;
    @include phones {
      width: 15%;
    }
    background: url('/img/review/background-new.png') center center /contain no-repeat;    
  }
  &:before {
    content: '';
    position: absolute;
    top:remy(36);
   right: remy(14);
    width: remy(150);
    @include phones {
      width: 30%;
      right: 0;
      top: 0;
    }
    height: remy(86); 
    background: url('/img/review/berry.png') center center /contain no-repeat;
  }
  &__container {
    padding-top: remy(60);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include tablets {
      padding-top: 0;
    }
  }
  &__header {
    margin: 0 auto;
    h3 {
      font-size: remy(48);
      font-weight: 700;
      text-transform: uppercase;
    }
    @include phones {
      margin-top: 70px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: remy(29);
    justify-content: center;
    flex: 1;
    @include tablets {
      margin-top: 4.2rem;
    }
    @include phones {
      margin-top: 34px;
    }

  }
  // &__list {
  //   display: flex;

  // }
  &__nav {
    display: flex;
    margin-top: remy(21);
    justify-content: center;
    align-items: center;
    @include tablets {
      margin-top: 6.5rem;
    }
    @include phones {
      margin-top: 14px;
      margin-bottom: 1rem;
    }
    &-space {
      margin-left: remy(16);
    }
  }
}