@import '../assets/_variables.scss';
@import '../assets/_mixins.scss';
.team {
  background-color: $white;
  color: $color;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    top:remy(-237);
    right: 0;
    width: remy(196);
    height: remy(578); 
    background: url('/img/team/background.png') no-repeat;  
    background-size: contain;
    @include tablets {
      right: -1rem;
      top: -14rem;
    }  
  }
  &:before {
    content: '';
    position: absolute;
    bottom:remy(-44);
    left: remy(33);
    width: remy(104);
    height: remy(114); 
    z-index: 1;
    background: url('/img/team/rasb.png');
  }
  &__container {
    margin: 0 auto;
    padding-top: remy(64);
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    height: 100%;
    @include tablets {
      padding-top: 0;
    }
  }
  &__header {
    margin: 0 auto;
    @include phones {
      margin-top: 30px;
    }
    h3 {
      font-size: remy(48);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content {
    // margin-top: remy(30);
    @include tablets {
      margin-top: 2.4rem;
    }
    @include phones {
      margin-top: 3.5rem;
    }
    display: flex;
    align-items: center;
    flex: 1;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -1rem;
      
      li {
        margin-left: 1rem;
        width: 22%;      
        @include tablets {
          width: 47%;
          margin-bottom: 1.4rem;
        }
        @include phones {
          width: 46%;
          display: flex;
        }
      }
    }
  }
}