$bg-work: #f8faf9;
$color-work: #0d0d0d;
.work {
  background-color: $bg-work;
  color: $color-work;
  position: relative;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    bottom:-104px;
    right: 0px;
    width: 200px;
    height: 264px; 
    z-index: 1;
    overflow: hidden;
    background: url('/img/work/berry.png') left top no-repeat;    
  }
  &:before {
  //   content: '';
  //   position: absolute;
  //   top:36px;
  //  right: 14px;
  //   width: 150px;
  //   height: 86px; 
  //   background: url('/img/review/berry.png');
  }
  &__container {
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__header {
    margin: 0 auto;
    h3 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__content {
    margin-top: 44px;
    display: flex;
    margin: auto;
    max-width: 911px;
    max-height: 500px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 90px;
      height: 77px;
      top: 0;
      right: 0;
      background: url('/img/work/leaf1.png') no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      width: 72px;
      height: 135px;
      bottom: 0;
      left: 0;
      background: url('/img/work/leaf2.png') no-repeat;
    }
    img {
      margin: 58px 120px 38px 120px;
      display: block;
    }
  }
}