.avatar {
  max-width: 82px;
  max-height: 82px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  display: flex;
  img {
    display: block;
    margin: auto;
    flex: 1;

  }
}