@import '../assets/_variables.scss';
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $white;
  min-height: remy(93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  &__container {
    margin: 0 auto;
    display: flex;
  }
  &__contacts {
    color: #010101;
    display: flex;
    flex-direction: column;
    min-height: remy(52);
    justify-content: space-between;
  }
  &__socials {
    display: flex;
    justify-content: flex-end;
  }
}