.form {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: remy(18); }
  .form__elem {
    display: flex;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .form__elem {
        flex-direction: column; } }
  .form__col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: remy(20); }
    .form__col:first-child {
      margin-left: 0px; }
    @media screen and (max-width: 768px) {
      .form__col {
        width: 100%;
        margin-left: 0; } }
  .form__block {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px; }
    .form__block:first-child {
      margin-left: 0; }
    .form__block-title {
      font-size: 18px;
      color: #0f5a47;
      margin-bottom: 6px; }
  .form__row {
    display: flex;
    flex-direction: row;
    margin-top: 20px; }
    .form__row:first-child {
      margin-top: 0; }
  .form__input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    padding: 22px 11px;
    outline: none;
    border: 1px solid transparent; }
    .form__input:focus {
      border-color: #b24930; }
    .form__input::placeholder {
      color: rgba(34, 31, 31, 0.5); }
    .form__input--textarea {
      height: 208px;
      resize: none;
      padding-top: 8px; }
  @media screen and (max-width: 768px) {
    .form__question {
      margin: 0 auto; } }
  .form__question-options {
    display: flex; }
  @media screen and (max-width: 768px) {
    .form__buttons {
      margin: 0 auto; } }

.checkbox {
  display: flex;
  position: relative;
  white-space: nowrap;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .checkbox {
      margin: 0 auto; } }
  .checkbox__check {
    position: absolute;
    top: 0;
    left: remy(-9999); }
  .checkbox__check-title {
    display: inline-block;
    font-size: remy(18);
    margin-left: remy(10); }
  .checkbox__check-fake {
    width: 1rem;
    height: 1rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

.checkbox__check:checked + .checkbox__check-fake:after {
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/form/check.png") 50% no-repeat;
  background-size: contain;
  width: remy(11);
  height: remy(9); }

.option {
  display: flex;
  margin-left: remy(20);
  position: relative;
  white-space: nowrap;
  cursor: pointer; }
  .option__radio {
    position: absolute;
    top: 0;
    left: remy(-9999); }
  .option__radio-title {
    display: inline-block;
    font-size: remy(18);
    margin-left: remy(10); }
  .option__radio-fake {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .option__radio-fake:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: #0f5a47;
      transition: width .3s, height .3s; }
  .option:first-child {
    margin-left: 0; }

.option__radio:checked + .option__radio-fake:after {
  width: remy(8);
  height: remy(8);
  z-index: 10;
  content: ''; }

/*# sourceMappingURL=form.css.map */
