.header {
  width: 100%;
  position: absolute;
  top: 22px;
  left: 0px;
  // background: #61c4d9;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 1;
  &__container {
    margin: 0 auto;
    display: flex;
  }
  &__logo {
    margin-right: 45px;
  }
  &__menu {
    margin-right: 22px;
    display: flex;
    align-items: center;
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
}