.intro-main {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
  }
  &__caption {
    margin-left: 5px;
    font-size: 21px;
    width: 90%;
    margin-top: 11px;
  }
  .button {
    margin-left: 5px;
    width: 40%;
    margin-top: 26px;
  }
}