.intro-main {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
  }
  &__caption {
    font-size: 21px;
    width: 90%;
    margin-top: 22px;
  }
  .button {
    width: 40%;
    margin-top: 32px;
  }
}