@import '../assets/_mixins.scss';
.intro-main {
  display: flex;
  flex-direction: column;
  @include tablets {
    align-items: center;
  }
  h1 {
    font-weight: 700;
    font-size: remy(60);
    line-height: remy(60);
    text-transform: uppercase;
    @include tablets {
      text-align: center;
    }

  }
  &__caption {
    margin-left: remy(5);
    font-size: remy(21);
    width: 90%;
    margin-top: remy(11);
    @include tablets {
      text-align: center;
    }
  }
  .button {
    margin-left: 5px;
    width: 40%;
    margin-top: 26px;
  }
}