@import '../assets/_variables.scss';
.nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 1.7rem;
      :last-child {
        padding-right: none;
      }
      a {
        font-size: remy(18);
        color: $white;
        text-decoration: none;
      }
    }
  }
}