@charset "UTF-8";
.order-main {
  display: flex;
  position: relative;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .order-main {
      flex-direction: column;
      align-items: center; } }
  .order-main__img {
    display: flex;
    width: 83%;
    background: url("/img/order/leafs.png") center center no-repeat; }
    .order-main__img img {
      width: 68%;
      margin: auto;
      display: block; }
      @media screen and (max-width: 544px) {
        .order-main__img img {
          width: 100%; } }
    @media screen and (max-width: 768px) {
      .order-main__img {
        width: 83%; } }
    @media screen and (max-width: 544px) {
      .order-main__img {
        width: 83%; } }
  .order-main__button {
    padding: remy(10) remy(20);
    border-radius: remy(5);
    background: #00accf;
    border: none; }
    @media screen and (max-width: 768px) {
      .order-main__button {
        position: absolute;
        top: -2rem;
        right: -5rem; } }
    @media screen and (max-width: 544px) {
      .order-main__button {
        position: absolute;
        top: 0;
        right: 0; } }
    .order-main__button-label {
      margin: 0 auto;
      display: block;
      color: #fff;
      font-size: remy(14);
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      flex-direction: column; }
      .order-main__button-label:before {
        content: '';
        width: 51px;
        height: 51px;
        margin: auto;
        background: url("/img/order/chocolate-bar.png") center center;
        margin-bottom: remy(7); }
  .order-main__content {
    max-width: remy(360);
    margin-left: remy(66); }
    .order-main__content h3 {
      text-transform: uppercase;
      font-size: remy(38);
      font-weight: 700;
      margin-top: remy(36); }
    .order-main__content p {
      margin-top: remy(22);
      color: #666;
      font-size: remy(18); }
    @media screen and (max-width: 768px) {
      .order-main__content {
        margin-left: 0;
        max-width: 94%;
        dispaly: flex;
        flex-direction: column;
        align-items: center; }
        .order-main__content h3 {
          text-align: center;
          font-size: 2rem;
          padding: 0 10%;
          margin-top: 3.6rem; }
        .order-main__content p {
          text-align: center; } }
    @media screen and (max-width: 544px) {
      .order-main__content h3 {
        font-size: 30px;
        margin-top: 25px; } }
  .order-main__prop {
    margin-top: remy(37);
    display: flex; }
    @media screen and (max-width: 768px) {
      .order-main__prop {
        width: 70%;
        margin-left: 25%;
        margin-top: remy(42); } }
  .order-main__column {
    width: 50%;
    color: #333333;
    font-size: remy(18); }
  .order-main__label {
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .order-main__label {
        text-align: left; } }
  .order-main__value {
    font-weight: 700;
    margin-top: remy(5); }
    @media screen and (max-width: 768px) {
      .order-main__value {
        text-align: left; } }
  .order-main__footer {
    display: flex;
    align-items: center;
    margin-top: remy(55); }
    @media screen and (max-width: 768px) {
      .order-main__footer {
        width: 70%;
        margin-left: 15%;
        margin-top: remy(43); } }
    @media screen and (max-width: 544px) {
      .order-main__footer {
        margin-top: 50px; } }
  .order-main__price {
    width: 50%;
    font-size: remy(60);
    font-weight: 300; }
    .order-main__price:after {
      content: '₽';
      font-size: remy(50);
      margin-left: remy(15); }
    @media screen and (max-width: 768px) {
      .order-main__price {
        text-align: center;
        font-size: remy(64); } }
    @media screen and (max-width: 544px) {
      .order-main__price {
        font-size: 60px; } }
  .order-main__button-order {
    display: flex;
    width: 40%; }
    .order-main__button-order button {
      flex: 1; }
    @media screen and (max-width: 768px) {
      .order-main__button-order {
        margin-left: 0; } }
    @media screen and (max-width: 544px) {
      .order-main__button-order {
        width: 50%; } }

/*# sourceMappingURL=order-main.css.map */
