@import '../assets/_mixins.scss';
.order-main {
  display: flex;
  position: relative;
  @include tablets {
    flex-direction:column;
    align-items: center;
  }
  &__img {
    display: flex;
    width: 55%;
    background: url('/img/order/leafs.png') bottom left  no-repeat;
    img {
      width: 80%;
      margin: auto;
      display: block;
    }
  }
  &__button {
    // display: flex;
    // flex-direction: column;
    padding: remy(10) remy(20);
    border-radius: remy(5);
    background: #00accf;
    border: none;
    @include tablets {
      position: absolute;
      top: -2rem;
      right: 0;
    }
    
    &-label {
      margin: 0 auto;
      display: block;
      color: #fff;
      font-size: remy(14);
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      &:before {
        content: '';
        width: remy(51);
        height: remy(51);
        margin: auto;
        background: url('/img/order/chocolate-bar.png') center center;
        margin-bottom: remy(7);
      }
    }
  }
  &__content {
    max-width: remy(360);
    margin-left: remy(66);
    h3 {
      text-transform: uppercase;
      font-size: remy(36);
      font-weight: 700;
      margin-top: remy(37);
    }
    p {
      margin-top: remy(22);
      color: #666;
      font-size: remy(18);
    }
    @include tablets {
      margin-left: 0;
      max-width: 70%;
      dispaly: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  &__prop {
    margin-top: remy(37);
    display: flex;
  }
  &__column {
    width: 50%;
    color: #333333;
    font-size: remy(18);
  }
  &__label {
    font-weight: 400;
    @include tablets {
      text-align: center;
    }
  }
  &__value {
    font-weight: 700;
    margin-top: remy(5);
    @include tablets {
      text-align: center;
    }
  }
  &__footer {
    display: flex;    
    align-items: center;
    margin-top: remy(55);
  }
  &__price {
    width: 50%;
    font-size: remy(60);
    font-weight: 300;
    &:after {
      content: '₽';
      font-size: remy(50);
      margin-left: remy(15);
    }
    @include tablets {
      text-align: center;
    }
  }
  &__button-order {
    display: flex;
    button {
      flex: 1;
    }
    @include tablets {
      margin: 0 auto;
    }
  }
}