.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8faf9; }
  .review__img {
    width: 40%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .review__img img {
      margin: auto; }
  .review__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .review__content h4 {
      color: #323232;
      font-size: 30px;
      font-weight: 500; }
    .review__content p {
      margin-top: 30px;
      color: #666666; }
    .review__content div {
      margin-top: 32px;
      color: #666666;
      font-weight: 500; }
