@import '../assets/_mixins.scss';
.team-member {
  display: flex;
  flex-direction: column;
  
  &__img {
    margin: auto;
    display: flex;
    img {
      margin: auto;
      width: 100%;
      height: 100%;

    }
  }
  &__content {
    margin-top: remy(22);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h5 {
      color: #323232;
      font-size: remy(21);
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        margin-left: 0.7rem;
        content: '';
        width: 9px;
        height: 6px;
        background: url('../../img/team/arrow_donw.svg') center center / contain
      }
    }
    &__position {
      color: #281e1e;
      display: block;
      font-size: remy(18);
      font-weight: 400;
      margin-top: remy(8);
    }
    p {
      position: absolute;
      bottom: -3rem;
      display: none;
      left: 0;
      right: 0;
      text-align: center;
      color: #666;
      font-size: 1rem;
      font-weight: 300;
      margin-top: remy(3);
      padding: 0;
      @include tablets {
        position: static;
        width: 60%;
      }
    }
  }
}

.team-member--active {
  .team-member {
    &__content {
      h5 {
        &:after {
          background: url('../../img/team/arrow_up.svg') center center / contain
        }
      }
      p {
        display: block;
      }
    }
  }
} 